*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.g-icon{
    display: inline-block;
    background: url(../img/header-row/g-icon.png) no-repeat;
}
.clear:after{
    content: "\00A0";
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
img {
    vertical-align: middle;
}
.f1{
    float:left;
}
.r1{
    float:right;
}
.g-Row{
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}
.i-icon {
    display: inline-block;
    background: url(http://static01.baocdn.com/images/2017/i-icon.png) no-repeat;
}
.hide{
    display:none;
}
ol, ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
.hideAn{
    opacity:0;
    transition:all .2s linear;
}
.showAn{
    opacity:1;
}