.tabNav{
    background: #9e99d1;
    box-shadow: 0 6px 8px rgba(0,0,0,.2);
    z-index: 998;
    position:relative;
}
.g-row {
    width: 1200px;
    height:70px;
    margin:0 auto;
}
.tab_select{
    position:relative;
    width:214px;
}
.dt{
    height:58px;
    padding:13px 0;
    float:left;
}
.dt a{
    background: #fff;
    display: block;
    font-size:16px;
    color:#9e99d1;
    line-height:46px;
    padding-left:10px;
    width:214px;
}
.dt a i{
    width: 19px;
    height: 15px;
    background-position: -210px -120px;
    float: right;
    margin: 16px 13px 0 0;
}
.dd{
    box-shadow: 0 4px 3px rgba(0,0,0,.2);
    position: absolute;
    left: 0;
    top: 70px;
    width: 214px;
}
.dd .ddinner{
    background:#fff;
}
.dd .ddinner a{
    border-bottom: 1px solid #e0e0e0;
    height: 57px;
    line-height: 57px;
    font-size: 16px;
    color: #676767;
    position: relative;
    cursor: pointer;
    display: table;
    width: 100%;
}
.dd .ddinner a:hover{
    color:#9ab26b;
}
.dd .ddinner a .iconCate:hover{
    background:#9ab26b;
}

.dd .ddinner a h3{
    float: left;
    padding-left: 16px;
    font-size: 16px;
}
.dd .ddinner a h3{
    float: left;
    padding-left: 16px;
    font-size: 16px;
    font-weight: normal;
}
.dd .ddinner a .iconCate{
    width: 57px;
    height: 57px;
    background: #f5f7fa;
    text-align: center;
    border-right: 1px solid #e0e0e0;
    display: table-cell;
    vertical-align: middle;
}
.iconCate i {
    width: 22px;
    height: 22px;
    background-position: 0 -60px;
}
.HuFu .iconCate i{
    width: 16px;
    height: 28px;
    background-position: -30px -60px;
}
.YingYang .iconCate i{
    width: 27px;
    height: 22px;
    background-position: -60px -60px;
}
.ShuMa .iconCate i{
    width: 24px;
    height: 19px;
    background-position: -120px -60px;
}
.JiaJu .iconCate i{
    width: 25px;
    height: 20px;
    background-position: -90px -60px;
}
.QuanQiu .iconCate i{
    width: 24px;
    height: 24px;
    background-position: -150px -60px;
}
.QiJian .iconCate i{
    width: 26px;
    height: 22px;
    background-position: -180px -60px;
}
.FanYong .iconCate i{
    width: 24px;
    height: 25px;
    background-position: -210px -60px;
}
.ddinner .iconTree {
    width: 6px;
    height: 10px;
    background-position: -240px -30px;
    position: absolute;
    right: 16px;
    top: 24px;
}
/*.YingYang .iconCate i{
    width: 6px;
    height: 10px;
    background-position: -240px -30px;
    position: absolute;
    right: 16px;
    top: 24px;
}*/

/*下拉菜单*/
.dd .dropDown {
    width: 986px;
    border-left: 3px solid #9e99d1;
    position: absolute;
    left: 214px;
    top: 0px;
    background: #fff;
    overflow: hidden;
    z-index: 19;
    min-height: 464px;
    box-shadow: 2px 4px 3px rgba(0,0,0,.2);
}
.dd .item_sub {
    zoom: 1;
    overflow: hidden;
    position: relative;
    height: 464px;
}
.dd .item_channels {
    float: left;
    overflow: hidden;
    font-size: 12px;
    color: #4b4a4a;
    width: 796px;
    padding: 0px 0px 12px 36px;
}
.dd .subitems d1{
    float: left;
    width: 350px;
    margin-right: 30px;
}
.dd .item_channels dt {
    overflow: hidden;
    position: relative;
    padding: 13px 0px 10px;
    color: #676767;
    font-size: 14px;
    font-weight: 900;
    border-bottom: 1px solid #e0e0e0;
}
.dd .item_channels dt a {
    color: #676767;
    font-size: 14px;
    font-weight: 600;
}
.dd .item_channels dd {
    overflow: hidden;
    padding-top: 10px;
    margin-left: -12px;
}
.dd .item_channels dd a {
    padding: 4px 16px 4px 12px;
    line-height: 16px;
    height: 16px;
    white-space: nowrap;
    display: inline-block;
    color: #676767;
    font-size: 14px;
    position: relative;
}
.dd .item_brands {
    width: 182px;
    overflow: hidden;
    float: right;
}
.m-banner {
    height: 125px;
    margin-top: 18px;
    width: 170px;
    overflow: hidden;
    position: relative;
}
.m-banner a {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px solid #e0e0e0;
    margin: 0 4px 4px 0;
}
.m-banner a img {
    width: 50px;
}
.m-ad1 a {
    height: 300px;
}
.m-ad1 img {
    width: 166px;
}
.m-ad1 .txt {
    position: absolute;
    top: 30px;
    left: 15px;
    text-align: center;
}
.m-itemsHw .bd {
    padding-left: 14px;
    padding-top: 18px;
}
.m-itemsHw .item-ms {
    display: block;
    width: 308px;
    height: 206px;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
}
.m-ad0 {
    position: absolute;
    left: 36px;
    bottom: 21px;
}
.m-ad0 a {
    display: block;
    width: 360px;
    height: 140px;
    overflow: hidden;
    float: left;
    margin-right: 11px;
}
.m-ad0 img {
    width: 100%;
}
.m-itemsHw .item-ms img {
    width: 100%;
}
.m-itemsHw .item-ms .itemTit {
    position: absolute;
    width: 315px;
    height: 35px;
    line-height: 35px;
    background: rgba(0,0,0,.5);
    color: #fff;
    left: 0;
    bottom: 0;
    padding: 0 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.m-itemsQJ{
    padding: 16px 8px 16px 8px;
}
.item-qj {
    display: block;
    float: left;
    width: 225px;
    height: 427px;
    margin: 0 8px;
}
.item-qj img {
    width: 100%;
    height: 100%;
}
.m-itemsFy {
    padding: 1px 0px 0 15px;
}
.item-fy {
    float: left;
    width: 307px;
    height: 206px;
    border: 1px solid #f2f2f2;
    margin: 15px 14px 0 0;
}
.item-fy .itemTop {
    padding: 13px;
    height: 82px;
}
.item-fy .itemUserImg {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    width: 82px;
    height:69px;
    float: left;
    overflow: hidden;
}
.item-fy .itemUserImg img {
    width: 100%;
    height: 100%;
}
.item-fy .itemText {
    margin-top: 8px;
    margin-left: 100px;
    font-size: 13px;
    color: #666;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 66px;
}
.item-fy .itemPros {
    padding-left: 9px;
    width: 306px;
    padding-top: 20px;
}
.item-fy .itemPro {
    width: 90px;
    height: 90px;
    overflow: hidden;
    margin-right: 9px;
    float: left;
    display: block;
    background: #f2f2f2;
}
.item-fy .itemPro img {
    width: 100%;
}



.navItems>ul{
    list-style:none;
    margin:0;
    padding:0;
    margin-left: -10px;
}
.navItems{
    margin-left: 24px;
    overflow: hidden;
    float:left;

}
.navItems:after{
    content:"";
    display:block;
    clear:both;
}
.navItems ul>li{
    float: left;
    height: 70px;
    line-height: 70px;
}
.navItems ul li a{
    font-size: 18px;
    color: #dcd8fe;
    font-weight: bold;
    border-left: 1px solid #b1adda;
    padding: 0 26px;
}
.a_l:hover{
    color:#fff;
}
.a_l_r{
    width:125px;
    height:24px;
}
.olKf{
    font-size: 14px;
    line-height: 70px;
    float:right;
    color:#fff;
}

.list_icon{
    display: inline-block;
    background: url("../img/search/list_icon.png") no-repeat;
    vertical-align: middle;
}
.bread_crumb {
    padding-top: 20px;
    font-size: 13px;
    width: 1200px;
    margin: 0 auto;
}
.bread_crumb .crumbitem {
    float: left;
}
.bread_crumb .crumbitem a {
    color: #676767;
}
.bread_crumb .crumbArrow {
    width: 5px;
    height: 9px;
    background-position: -180px -180px;
    margin: 0 13px;
    vertical-align: middle;
}
.fliterAttrListPage {
    padding-top: 56px;
    margin-bottom: 0;
}
.navAttrsGroup {
    float: left;
    width: 250px;
    margin-right: 54px;
    overflow: hidden;
}
.navAttrsRow {
    padding-bottom: 20px;
}
.navAttrsRow .row_key {
    color: #333;
    font-size: 14px;
    line-height: 36px;
    border-bottom: 1px solid #ebebeb;
    height: 36px;
    position: relative;
    padding-left: 16px;
    cursor: pointer;
}
.navAttrsRow .desLine {
    width: 5px;
    height: 37px;
    background: #9ab26b;
    position: absolute;
    left: 0;
    top: 0;
}
.navAttrsRow .rowDropBtn .list_icon {
    width: 10px;
    height: 5px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -2px;
}
.navAttrsRow .dropDownIcon {
    background-position: -47px -15px;
}
.navAttrsRow .dropUpIcon {
    background-position: -58px -15px;
}
.navAttrsRow .row_main {
    white-space: nowrap;
    font-size: 14px;
    margin: 11px 0 13px 0;
}
.navAttrsRow .nofloatItems {
    padding-left: 17px;
}
.navAttrsRow .nofloatItems .row_main_item {
    color: #666;
    display: inline-block;
    white-space: nowrap;
    line-height: 35px;
}
.fliterAttrListPage .ResultListBody {
    float: right;
    width: 896px;
    margin-bottom: 52px;
}
.fliterAttrListPage .filterBar {
    width: 100%;
    margin: 0 0 35px 0;
}

.filterBar {
    font-size: 13px;
    color: #666666;
    clear: both;
    height: 51px;
    background: #ebf2de;
    /*width: 1200px;*/
    /*margin: 40px auto 36px auto;*/
}
.filterBar .filter_sort {
    padding: 10px 0px 0 9px;
}
.filterBar .filter_sort li.item {
    border: 1px solid #d7d7d7;
    margin-left: -1px;
}

.filterBar li.item {
    float: left;
}
.filterBar .filter_sort li.item a {
    display:block;
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    background: #fff;
}
b {
    font-weight: normal;
}
.filter_sort .list_icon {
    margin-left: 3px;
    margin-top: -3px;
}

.filter_arrow_two_icon {
    background-position: 0 0;
    width: 9px;
    height: 11px;
}
.filterBar .price_set {
    position: relative;
    margin-top: 11px;
}
.filterBar .price_set .priceDrop {
    padding: 0 17px;
    height: 32px;
    line-height: 32px;
    display: block;
    color:rgb(102,102,102);
}
.filter_drop_arrow_down_icon,.filterBar .filter_drop_arrow_up_icon {
    background-position: -47px -15px;
    width: 10px;
    height: 5px;
    margin-left: 7px;
}
.filterBar .hoverSpace {
    position: absolute;
    width: 117px;
    height: 20px;
    top: 32px;
    background: transparent;
    z-index: 2;
}
.filterBar .price_set .dropList {
    position: absolute;
    top: 52px;
    width: 117px;
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    z-index: 3;
}
.filterBar .price_set li.sort {
    height: 35px;
    line-height: 35px;
    padding-left: 18px;
    border-bottom: 1px solid #eaeaea;
}
.country_set {
    position: relative;
    margin-top: 11px;
    margin-left:3px;
}
.country_set .priceDrop {
    color:rgb(102,102,102);
    padding: 0 17px 0 8px;
    height: 32px;
    line-height: 32px;
    display: block;
}
.country_set .dropList {
    position: absolute;
    top: 52px;
    width: 220px;
    background: #fff;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    z-index: 3;
    padding: 11px 5px;
}
.country_set .sort {
    display: block;
    float: left;
    height: 26px;
    line-height: 26px;
    color: #676667;
    width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    font-size: 12px;
    text-align: center;
}
.fr {
    float: right;
}
.filterBar .filter_feature .item {
    margin-right: 18px;
}

.filterBar li.item {
    float: left;
}
.filterBar .filter_feature a {
    line-height: 51px;
    white-space: nowrap;
    display: block;
    color: #666;
}
.filterBar .filter_feature i.checkbox {
    margin: 0 5px 0 0;
    background-position: -18px -29px;
    width: 15px;
    height: 15px;
    vertical-align: -2px;
}
.fliterAttrListPage .pro_list {
    width: 908px;
    margin-top: 0;
}

.pro_list {
    clear: both;
    /*width: 1215px;*/
}
.pro_list .pro_item {
    float: left;
    margin: 0 12px 12px 0;
    overflow: hidden;
}
.fliterAttrListPage .pro_item {
    width: 215px;
}
.pro_list .pro_item .pro_infor {
    display: block;
    height: 323px;
    background: #fff;
    color: #000;
    font-size: 13px;
    position: relative;
}
.pro_infor_img {
    display: block;
    width: 228px;
    height: 228px;
    position: relative;
    background: #f4f4f4;
}
.pro_img {
    display: block;
    width: 215px;
    height: 215px;
    margin: 0 auto;
    padding: 7px 0;
}
.pro_msg {
    padding: 14px 0 18px 0;
    line-height: 20px;
    position: relative;
}
.pro_tit {
    height: 40px;
    margin-left: 31px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.pro_price {
    margin-top: 10px;
    font-size: 14px;
    color: #9ab26b;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.market_price {
    font-size: 12px;
    color: #929292;
    padding-left: 4px;
    font-weight: normal;
    text-decoration: line-through;
}
.nation_msg {
    position: absolute;
    left: 0;
    top: 17px;
}
.nation_flag {
    width: 26px;
    height: 26px;
}
.fliterAttrListPage .diaper_page {
    width: 100%;
}

.diaper_page {
    background: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 28px;
    padding-top: 32px;
    color: #666;
}
.diaper_page_l {
    line-height: 42px;
}
.diaper_page li.item {
    float: left;
}
.diaper_page_l span.on {
    color: #9ab26b;
}
.diaper_page li.item {
    float: left;
}

.diaper_page_l .seprateLine {
    margin: 0 5px;
}
.diaper_page_l .total_num {
    color: #333;
    padding: 0 1px;
    letter-spacing: 1px;
}

.diaper_page_l .total_num, .diaper_page_l .tahoma, .diaper_page_r .item.dot {
    font-family: Tahoma,arial,Helvetica;
    font-size: 14px;
}
.diaper_page_r .items {
    height: 42px;
    overflow: hidden;
    padding: 0 6px;
    border: 1px solid #ebebeb;
}
.diaper_page_r .next_page a, .diaper_page_r .prev_page a {
    line-height: 46px;
}
.diaper_page_r .prev_page a.disabled .prevIcon {
    background-position: -24px 0;
}

.diaper_page_r .prevIcon {
    width: 8px;
    height: 13px;
}

.diaper_page_r a {
    font-size: 16px;
    text-align: center;
    display: block;
    font-family: Myriad Pro,Tahoma,arial,Helvetica;
    line-height: 48px;
    padding: 0 9px;
}

.diaper_page_r .nextIcon {
    background-position: -37px -15px;
    width: 8px;
    height: 13px;
}
.country_set>.priceDrop:hover{
    cursor: pointer;
    color:#9ab26b;
}
.price_set>.priceDrop:hover{
    cursor: pointer;
    color:#9ab26b;
}
.row_key:hover{
    color:#9ab26b;
}
#page>.item a:hover{
    cursor: pointer;
    color:#9ab26b;
}
